<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <h1>标题1</h1>
        <p>我是段落1</p>
        <p>我是段落2</p>
        <p>我是段落3</p>
        <h2>标题2</h2>
        <p>我是第一段<br/>我是第二段<br/>我是第三段</p>
        <h3>标题3</h3>
        <img src="/static/htmlTest.jpeg" alt="滑稽" />
        <img src="/static/htmlTest.jpeg" alt="滑稽" width="165" height="60"/>
        <a href="http://www.baidu.com"><img src="/static/htmlTest.jpeg" alt="超链接1"/></a>
        <a href="http://www.baidu.com" target="_self"><img src="/static/htmlTest.jpeg" alt="超链接2"/></a>
        <a href="http://www.baidu.com" target="_blank"><img src="/static/htmlTest.jpeg" alt="超链接3"/></a>
        <h4>标题4</h4>
        <div>空格&nbsp;小于号&lt;大于号&gt;</div>
        <h5>标题5</h5>
        <h6>标题6</h6>
    </body>
</html>